services:
  spark-master:
    image: apache/spark:3.5.0
    container_name: spark-master
    user: root
    ports:
      - "8080:8080"
      - "7077:7077"
    environment:
      - SPARK_LOCAL_IP=spark-master
    command: >
      /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
      --ip spark-master --port 7077 --webui-port 8080
    volumes:
      - ../data:/opt/spark/work-dir/data
      - ../src/jobs:/opt/spark/work-dir/jobs

  spark-worker:
    image: apache/spark:3.5.0
    container_name: spark-worker
    user: root
    depends_on:
      - spark-master
    environment:
      - SPARK_MASTER=spark://spark-master:7077
    command: >
      /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker
      spark://spark-master:7077 --webui-port 8081
    volumes:
      - ../data:/opt/spark/work-dir/data
      - ../src/jobs:/opt/spark/work-dir/jobs